<h1>This is the Show page</h1>
<div>

<p>
   Name: <%= @student.name %>
</p>

<p>
   Age: <%= @student.age %>

</p>

<p>
  Grade: <%= @student.grade %>
</p>

<p>
  City: <%= @student.location %>
</p>
</div>

<%= button_to "Edit Student", edit_student_path(@student), method: :get%>
<%= button_to "Bye Bye Scholar", @student, method: :delete %>
<%= button_to "Students Page", students_path ,method: :get %>
